body {
    background-color: azure;
}

table {
  border-collapse: collapse;
  width: 70%;
  height: 70%;
  margin: auto;
}

th, td {
  border: 1px solid black; 
  text-align: left;
  padding: 8px;
}

th {
  background-color: #566962;
  color: white;
  text-align: center;
}

td {
  color: rgb(12, 8, 8);
}

h1, p {
    text-align: center;
    color: #265e49;
}

.td-check-box {
  text-align: center;
}

#dicas {
  font-size: 18px;
}

/*Interações com a página*/

.ticar-dica{
  text-decoration: line-through;
  color: red;
}

.desmarcar-dica {
  text-decoration: none;
  color: rgb(12, 8, 8);
}

select {
  width: 95%;
  padding: 3px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: rgb(36, 65, 47);
  cursor: pointer;
}

/* Alertas de repetição  darkorange*/
#mensagem-alerta{
  border: 1.5px solid burlywood;
  border-radius: 5px;
  font-weight: bold;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(223, 212, 71);
  box-shadow:  2px 1px 2px 1px;
  text-align: center;
  display: none;
}

/* Usar quando conseguir pensar em uma lógica que destaque todas as colunas que estão com valores repetidos */
.alerta-cor-repetida {
  background-color: darkorange;
}

.retirar-alerta-cor {
  background-color: #f1f1f1;
}

/* Parte final do jogo */

#gabarito {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  display: none;
}

.botao-conferir-resultado {

  width: 40%;
  height: 50px;
  margin: auto;
  cursor: pointer;
  background-color:rgb(131, 175, 180);
  color: rgb(182, 52, 52);
  font-size: 20px;
  font-weight: bold;
  
}

#btn-jogar-novamente{
  display: none;
}

/*Feedback jogador*/

.paragrafo-resultado{

  width: 69%;
  height: 100%;
  margin: auto;
  padding: 12px;
  margin-top: 12px;
  border: 1.5px solid rgb(26, 24, 23);
  border-radius: 5px;
  font-weight: bold;
  color: antiquewhite;
  display: none;


}
